body {  font-family:'Century Gothic', Calibri, Arial, sans-serif; }

body div#page div#header div#tag-line h1 { font-size:1.4em; font-family:'Times New Roman'; text-align:justify; }
body div#page div#header configuration a { text-decoration: none; }
body div#page div#header configuration a:hover { font-weight: bold; }

body div#page div#body div#menu div#list-option ul li a { font-weight:bold; text-decoration: none; }

body div#page div#body div#content div#content-list ul li div.content-item {font-size:90%; }
body div#page div#body div#content div#content-list ul li div.content-item div.left-column div.veracity { text-align:center; }
body div#page div#body div#content div#content-list ul li div.content-item div.left-column div.veracity p { font-size: 80%; font-weight:bold; }
body div#page div#body div#content div#content-list ul li div.content-item div.right-column div.languages div.language p.title { font-weight:bold; font-size:110%; }
body div#page div#body div#content div#content-list ul li div.content-item div.right-column div.meta { font-weight:bold; font-size:90%; }
body div#page div#body div#content div#content-list ul li div.content-item div.right-column div.tags div.tag-group p.tag-type { font-weight:bold; }

body div#page div#body div#right-bar { text-align:left !important; }

div#sb-body div.html h2 { text-align: center; }